.PageLayout {
  display: grid;
  grid-template-areas:
    'status status'
    'owner retreat'
    'payments payments'
    'refunds refunds';
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.DefinitionList {
  width: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0 1rem;
}
